/* Fonts imported from Google Fonts - how can I use other fonts, from a different source? */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Default Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    background-color: #adb38f;
    font-family: 'Playfair Display', serif;
}

header {

    /* generic project styles */
    background-color: #a28fb3;
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    /* box style nav bar effects */
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    /* adding according to tutor guidelines */
    justify-content: center;



}

h1 {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    font-size: 2rem;
    padding: 10% 0;
    text-align: center;



}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    min-width: 90px;
}

/* menu list line spacing */
#menu>li {
    margin-bottom: 1em;
}

/* menu list active styling */

.active {
    font-weight: bold;
}

/* Navbar dropdown toggle with styles */
nav {
    position: absolute;
    background-color: aliceblue;

    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    /* Adding manual X position */
    position: absolute;
    top: 25px;
    right: 5px;

}


/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;


    /* Enable flex property for child elements */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-top: 50px;
}

#author {


    height: 600px;
    width: 100%;
    background: url("../images/at_the_bookstore.jpg") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Footer content */
footer #social {

    /* Enable flex property for child elements */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    background-color: rgb(225, 0, 255);
}

#social i {
    font-size: 1.5rem;
    padding: 5%;
    color: #adb38f;
}

/* Media query notes for later
@media screen and (min-width: 768px)  {

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles *
    background-color: #adb38f;
    font-family: 'Playfair Display', serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}



header {
    display: flex;
    flex-direction: column;
    /* generic project styles *
    background-color: #a28fb3;
    font-family: 'Playfair Display', serif;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* box style nav bar effects *
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
}

}

*/