/* Fonts imported from Google Fonts - how can I use other fonts, from a different source? */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Default Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    background-color: #adb38f;
    font-family: 'Playfair Display', serif;
    /* font-size: 100%; - want to try make the LOGO font smaller on smaller screens*/
}

header {

    /* generic project styles */
    background-color: #a28fb3;
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    /* box style nav bar effects */
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    /* adding according to tutor guidelines */
    justify-content: center;



}

h1 {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    font-size: 2rem;
    padding: 10% 0 6px;
    text-align: center;

}

.logo-sub {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3px;
    font-size: 75%;
    text-transform: uppercase;

}




#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    min-width: 90px;
}

/* menu list line spacing */
#menu>li {
    margin-bottom: 1em;
}

/* menu list active styling */

.active {
    font-weight: bold;
}

/* Navbar dropdown toggle with styles */
nav {
    position: absolute;
    background-color: aliceblue;

    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    /* Adding manual X position */
    position: absolute;
    top: 25px;
    right: 5px;

}


/* Main content  */
main {
    /* Make main element take up any surplus space to push footer down  */
    flex: 1 0 auto;


    /* Enable flex property for child elements  */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: aqua;
    margin-top: 100px;
}


#author,
#cover-text {
    flex: 1;
    /* Allows both #author and #cover-text to take up equal space */
    padding: 20px;
    /* Adds some padding around the content for spacing */

}

#author {
    flex: 1;
    position: relative;

}

#author img {
    width: 100%;
    height: auto;
    border: 5px solid #555;
    border-radius: 10px;
}

#cover-text {
    background-color: rgba(95, 14, 14, 0.8);
    position: absolute;
    top: 330px;
    left: 30px;
    padding: 10px;
    border-radius: 5px;


}

br {
    padding: 10px;
}

#bio,
#quotes {
    margin: 1vh;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

#bio {
    background-color: pink;

}

#quotes {
    background-color: salmon;

}

.works-title {
    width: 90%;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 2%;
    font-weight: 600;
}

.works {
    display: flex;
    width: 90%;
    justify-content: center;


}

.work-picture {
    flex: 1;

}

.work-picture img {
    width: 100px;
}

.work-description {
    flex: 2;
    padding-left: 15px;
    text-justify: auto;
}

.short-description {
    width: 90%;
    padding: 2%;
    border-bottom: 5px solid #555;
}


/* SingUp Page */

section h2 {
    margin-top: 20px;
}

#sign-up {
    display: flex;
    flex-direction: column;

}

#benefits {
    margin: 1vh;
    margin-top: 30px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: salmon;
}

/* Footer content */
footer #social {

    /* Enable flex property for child elements */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    background-color: rgb(225, 0, 255);
}

#social i {
    font-size: 1.5rem;
    padding: 5%;
    color: #adb38f;
}

/* Media query notes for later
@media screen and (min-width: 768px)  {

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles *
    background-color: #adb38f;
    font-family: 'Playfair Display', serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}



header {
    display: flex;
    flex-direction: column;
    /* generic project styles *
    background-color: #a28fb3;
    font-family: 'Playfair Display', serif;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* box style nav bar effects *
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
}

}

*/