/* Fonts imported from Google Fonts - how can I use other fonts, from a different source? */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Default Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Anchor decoration removal */
a {
    text-decoration: none;
}

/* Declaring font style for paragraphs */
p,
.work-description,
.short-description {
    font-family: 'Libre Caslon Text', serif;
    color: black;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    background-color: #f5f5dc;
    font-family: 'Playfair Display', serif;
    /* font-size: 100%; - want to try make the LOGO font smaller on smaller screens*/
}

/* Header Style = Logo and Subtitle to logo */
header {
    /* generic project styles */
    background-color: #f5f5dcea;
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    /* box style nav bar effects */
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    /* adding according to tutor guidelines */
    justify-content: center;
}

/* Logo Heading Style */
h1 {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Logo - Author Name */
#logo {
    font-size: 1.5rem;
    padding: 10% 0 0px;
    text-align: center;
}

/* Author Name - Logo Subtitle "Author - Narrator - Poet" */
.logo-sub {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 9px;
    font-size: 60%;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

/* Menu Navigation Bar */
#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    min-width: 90px;
}

/* menu list line spacing */
#menu>li {
    margin-bottom: 1em;
}

/* menu list active styling */
.active {
    font-weight: bold;
}

/* Navbar dropdown toggle with styles */
nav {
    position: absolute;
    background-color: #f5f5dcea;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    /* Adding manual X position */
    position: absolute;
    top: 24px;
    right: 5px;
}

/* Main content  */
main {
    /* Make main element take up any surplus space to push footer down  */
    flex: 1 0 auto;
    /* Enable flex property for child elements  */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f5f5dc;
    margin-top: 72px;
}

/* Index Style */
#author,
#cover-text {
    flex: 1;
    /* Adds some padding around the content for spacing */
    padding: 20px;
}

/* Index Image section */
#author {
    flex: 1;
    position: relative;
}

#author img {
    width: 100%;
    height: auto;
    border: 5px solid #555;
    border-radius: 10px;
    max-width: 365px;
}

#cover-text {
    background-color: rgba(252, 255, 222, 0.8);
    position: absolute;
    top: 330px;
    left: 30px;
    padding: 10px;
    border-radius: 5px;
}

/* Index Description Texts */
#bio,
#quotes {
    margin: 1vh;
    width: 90%;
    padding: 10px;
    border-radius: 3px;
    max-width: 640px;
    border-bottom: 5px solid #555;
}

/* Descriptions Flexbox */
#intro2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bio Section Style */
#bio {
    background-color: #ececd5;
}

/* Quotes Section Style */
#quotes {
    background-color: #ececd5;
}

/* Bio section Heading style */
#bio h2 {
    background-color: #f5f5dc;
}

/* Quotes section Heading style */
#quotes h2 {
    background-color: #f5f5dc;
}

/* Works Page */
.works-title {
    width: 90%;
    text-align: center;
    padding: 4% 0 2%;
    font-weight: 600;
}

/* unvisited link */
a:link {
    color: rgb(173, 22, 22);
}

/* visited link */
a:visited {
    color: green;
}

/* mouse hover link */
a:hover {
    color: rgb(173, 22, 22);
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
}

/* Works Flexbox Styling */
.works {
    display: flex;
    width: 90%;
    justify-content: center;
}

/* Work Section Image Styling */
.work-picture {
    flex: 1;
    margin: auto;
    text-align: center;
}

/* Work Image Style */
.work-picture img {
    width: 90%;
    max-width: 210px;
}

/* Work Section Info Style */
.work-description {
    flex: 2;
    padding-left: 15px;
    text-align: justify;
}

/* Work Section Descritpion of the work */
.short-description {
    width: 90%;
    padding: 2%;
    border-bottom: 5px solid #555;
    max-width: 640px;
}

/* Sing-Up Page */
section h2 {
    margin-top: 20px;
}

/* Sign Up Flexbox Styling */
#sign-up {
    display: flex;
    flex-direction: column;
}

/* Sing Up Form Settings */
#sign-up label,
#sign-up input,
#sign-up textarea {
    margin-bottom: 9px;
    resize: vertical;
}

/* Submit Button Styling */
#submit {
    font: inherit;

    color: green;
    font-weight: 400;
    background-color: #fcffdecc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 90%;
    width: 120px;
    align-self: last baseline;
}

#submit:hover {
    font-weight: 700;
    text-transform: uppercase;
}

/* Sign-up Benefits Section */
#benefits {
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ececd5;
    max-width: 640px;
}

/* Benefits Heading styling */
#benefits h2 {
    background-color: #f5f5dc;
}

/* Feedback Thank you note Margin */
.feedback #thanks {
    margin: 45px 0;
}

/* Sing up Form and Feedback note padding */
#sign-up-main,
.feedback {
    padding: 6% 0px;
}

/* footer content */
footer #social {
    /* enable flex property for child elements */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    background-color: #f5f5dcea;
    border-top: 2px solid #3a3a3a;
}

/* Social Icons Hover Feedback */
#social i:hover {
    color: rgb(173, 22, 22);
}

/* Social Icons Styling */
#social i {
    font-size: 1.5rem;
    padding: 5%;
    color: #adb38f;
}

/* Media query for screens above 720px */
@media screen and (min-width: 720px) {

    /* New Header Logo */
    #logo {
        padding: 20px 0 3px;
        font-size: 2.5rem;
    }

    /* New Header Logo Subtitle */
    .logo-sub {
        display: flex;
        justify-content: center;
        padding: 0 20%;
        font-size: 0.8rem;
        gap: 18px;
    }

    /* Removing Label (Hamburger Menu) of Navigation Bar */
    .nav-toggle-label {
        all: unset;
        display: none;
    }

    /* Removing Navigation Bar Settings */
    nav {
        all: unset
    }

    /* Adding New Header Style */
    header {
        all: unset;
        box-shadow: 0 2px 2px #3a3a3a;
        padding: 10px 0 0;
    }

    /* New Header Menu */
    #menu {
        display: flex;
        justify-content: center;
        gap: 60px;
        padding: 10px 0;
        background-color: #ececd5;
        color: black;
        font-size: 1.2rem;
    }

    /* Removing Bottom Margin for the Menu List */
    #menu>li {
        margin-bottom: 0px;
    }

    /* Removing Top Margin of the Main Section */
    main {
        margin-top: 0px;
    }

    /* Index Page Responsive Layout */
    #index-main {
        flex-direction: row;
        align-items: flex-start;
    }

    /* Adding Top Margin for the Section Headings */
    section h2 {
        margin-top: 12px;
    }

    /* Adjusting Text of the Index Image to fit media query */
    #cover-text {
        all: unset;
        display: flex;
        flex-direction: column;
        background-color: #ececd5;
        padding: 10px;
        border-radius: 5px;
    }

    /* Adjusting Heading of the Index Image Text */
    #cover-text h2 {
        margin-top: 0;
        background-color: rgba(252, 255, 222, 0.8);
    }

    /* Fixing Positioning of Index Descriptions Sections */
    #bio,
    #quotes {
        flex: 1;
        min-width: 240px;
    }

    /* Update to the Descriptions Flexbox */
    #intro2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Media query for screens above 1050px */
@media screen and (min-width: 1050px) {

    /* Fixing width for Index Descriptions Sections */
    #bio,
    #quotes {
        min-width: 570px;
    }

    /* Adjusting position of Index Main Section */
    #index-main {
        justify-content: center;
    }

    /* Adjusting Direction of the Index Descriptions Flexbox */
    #intro2 {
        flex-direction: column;
    }
}